<head>
  <meta charset="utf-8">
</head>
<style>
  h2{
    margin-top: 60px;
    margin-bottom: 40px;
  }
</style>
<h1>Number it</h1>

1.Elementos del juego<br>
2.Estados del juego<br>
3.Estados de los casilleros<br>
4.Desafío<br>
5.Lo que tiene que aprender el jugador<br>

<h2>1.Elementos del juego</h2>

- Cuadrícula<br>
- Botón de Revelar<br><br>

<p>la cuadricula cuenta una secuencia de números desde 1 hasta n. Siendo n la cantidad de casillero de la cuadricula.
Al comenzar un nivel se asigna un número a cada casilla y esto no varía durante el nivel. Lo único que varía son los estados de los casilleros.</p>
<p>Los numeros están dispuestos de manera tal que ningún numero puede estar separado del siguiente ni del anterior. Es decir que dado un numero x el siguiente (x+1) tiene que estar en un casillero contiguo (izquierda, derecha, arriba o abajo)</p>

<h2>2.Estados del juego</h2>

<p>Existen 2 estados del juego: <b>Jugar</b> y <b>Revelar</b>.</p>
<h3>Estado Jugar</h3>
<p>Es el estado por defecto, es aquel en el que empieza el juego</p>
<h3>Estado Revelar</h3>
<p>Es aquel al que se accede tocando el botón revelar y del que se sale una vez que tocamos un casillero <b>Revelable</b></p>

<h2>3.Estados de los casilleros</h2>

<p>Cada casillero puede estar en 4 estados. Revelado, Jugable, no disponible y Revelable.</p>
<p><b>Revelado</b>: Se vé el número.<br>
Es el estado en el que está desde el comienzo el primer número de la secuencia y en el que están todos los casilleros que el jugador haya tocado cuando estaban <b>revelables</b> o <b>jugables</b>.</p>
<p><b>Jugable</b>: No se vé el número, pero cuando el usuario lo toque el número se revelará. Si el número del casillero es el siguiente al último revelado el juego continuará pero sinó el juego terminará<br>
Es el estado en el que están todos los casilleros contiguos al mayor (último) número revelado durante el estado de juego <b>Jugar</b>.
<p><b>No disponible</b>: No se vé el número que corresponde a ese casillero y no se lo puede abrir tocandolo.<br>
Es el estado en el que están todos los casilleros que no están ni <b>revelados</b> ni <b>jugables</b> durante el estado de juego <b>Jugar</b></p>
<p><b>Revelable</b>: No se vé el número pero si el jugador lo toca el casillero se revela sin riesgo de que se termine el juego.<br>
Es el estado en el que están todos los casilleros excepto los revelados durante el estado de juego <b>Revelar</b>.</p>

<h2>4.Desafío</h2>

<p>El objetivo de cada nivel es que el usuario consiga revelar la cuadricula completa.</p>
<p>Dada la mecánica explicada en los puntos anteriores el usuario podría hacer esto simplemente repitiendo la secuencia de tocar el botón revelar y luego cualquier casillero no revelado.</p>
<p>En el otro extremo, si no dieramos la posibilidad de usar el botón revelar el juego se convertiría en un juego de azar en el que el jugador tiene que elegir el casillero correcto entre hasta 3 posibilidades para revelar cada número de la cuadrícula.</p>
<p>De modo que el uso del botón revelar va a existir de manera restringida y el desafío del usuario va a ser, usando al cantidad de revelaciones que tenga disponibles en cada nivel, elegir de entre todos los casilleros revelables aquel o aquellos que, muestren el número que muestren, le den la certeza de como está repartida la secuencia entre los casilleros.</p>
<p>Las revelaciones a las que va a poder acceder el usuario van a estar repartidas de tal manera que el usuario va a poder resolver todos los niveles sin usar nunca el azar.</p>
<p>Luego el juego va a tener un segundo desafío que es que el jugador una vez que haya usado todos los reveals que pueda/considere necesarios para deducir la disposición de la secuencia, va a tener que estar lo suficientemente concentrado como para no equivocarse. Pero en este caso, como el juego no es por tiempo, la única dificultad va a ser su propia ansiedad.</p>

<h2>5.Lo que tiene que aprender el jugador</h2>

<p>El jugador tiene que aprender, por supuesto todo lo explicado arriba.</p>
<p>Primero tiene que aprender que nada, tiene que aprender que todos los números "se tocan" con el siguiente y el anterior. 
